@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {

  --forest-green: #2F5233;
  --sage: #A8BBA2;
  --terra-cotta: #D08C60;
  --cream-sand: #F5F1E6;
  --charcoal:  #333333;
  --brushed-gold: #C8B273;
  --burnished-copper: #B87333;
  --soft-silver: #C0C0C0;

  --background-c: var(--cream-sand);
  --primary-c:  var(--charcoal);
  --secondary-c:  var(--forest-green);

}

html, body {

	width:100%;
	height:100%;
	margin:0;
	padding:0;
	overflow-x:hidden;
	user-select: none;
	background-color: var(--background-c);

}

nav {
	width:100%;
	height: 70px;
	padding:0 10px;
	display: flex;
	background-color: var(--background-c);
	justify-content: space-between;
	align-items: center;
	position:sticky;
  	font-family: "Lato", serif;
	z-index:3;
}

#logo{
	height:80%;
	cursor: pointer;
}

.nav_list {

	display: flex;
	list-style: none;
	gap:15px;
	
}

aside{
	height: 100%;
	width: 60%;
	position: absolute;
	top: 0;
	right: -100%;
	flex-direction: column;
	z-index: 4;
	display: none;
	background-color: white;
	border: 1px solid var(--primary-c);
	transition: all ease-in 0.1s;
}

.asideOpen{
	right: 0;
	display: flex;
}


#close{
	position: absolute;
	right: 0;
	top: 0;
	margin: 20px;
	font-size: 1.5rem;
	color: var(--secondary-c);
}

.aside_list {

	display: flex;
	flex-direction: column;
	list-style: none;
	gap:15px;
	padding-top: 30px;
	
}

.nav_li a{
	text-decoration: none;
	color: var(--primary-c);
	font-weight: 500;
	font-family: 'Lato', serif;
	text-transform: uppercase;
	text-decoration-color: var(--primary-c);
	text-decoration-width: 200px;
}

.nav_li a:hover{
	text-decoration: underline;
	transition-delay: 3s;
}

.selected{
	text-decoration: underline;
	text-decoration-thickness: 3px;
}

.nav_right {
	display: flex;
	gap:25px;
	font-size:1.8rem;
	padding: 0 40px;
	color: var(--secondary-c);
	cursor: pointer;
}

.nav_right a{
	text-decoration: none;
	color: var(--primary-c);
}


.nav_right a:hover{
	color: var(--secondary-c);
}

#menu {
	display:none;
	color: var(--primary-c);
	font-size: 1.3rem;
}

#menu:hover{
	color: var(--secondary-c);
}

#headLogo{
	height: 40px;
}

middle{
	font-family: 'Lato', sans-serif;
	background-color: var(--background-c);
	display: flex;
	width: 100%;
	justify-content: center;
	padding: 10px;
}

#content{
	background-color: white;
	width: 80%;
	height: 100%;
	border-radius: 10px;
	box-shadow: 2px 2px  5px #00000050;
	border: 1px solid lightgray;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: var(--primary-c);
	word-wrap: break-word;
	padding: 10px;
}

#content h2{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-family: 'PlayFair Display', serif;
}

#content h3{
	margin: 0;
	font-size: 1.5rem;
	color: var(--secoondary-c);
	font-family: 'PlayFair Display', serif;
}

footer{
	background-color: var(--primary-c);
  	font-family: 'Lato', sans-serif;
	padding: 25px 10px;
	display: flex;
	justify-content: space-around;
	gap: 10px;
}

.social{
	width: auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: start;
	justify-content: start;
}

.social h4{
	margin: 0;
	padding: 0;
	pointer-events: none;
	color: white;
	font-weight: 800;
	font-size: 1.1rem;
}

.social a{
	font-weight: 600;
}

.social a i{
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
}

.profiles{
	display: flex;
	gap: 15px;
	justify-content: start;
	padding: 0;
	margin: 0;
}

.profile a{
	text-decoration: none;
	color: gray;
	font-size: 1.3rem;
}

.contact{
	padding: 10px 0;
	gap: 20px;
}

.contact h4{
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 1.1rem;
	pointer-events: none;
}

.contact p{
	font-weight: 600;
	color: lightgrey;
	font-size: 1rem;
	margin: 0;
	padding: 0;
}

.contact a{
	color: lightgray;
	font-size: 1rem;
}

.built{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px;
}

.built h1{
	font-family: "Lato", sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 4rem;
	margin: 0;
	padding: 0;
	color: lightgray;
}

.builtText{
	color: lightgrey;
	font-weight: 800;
	display: flex;
	font-family: 'Lato', sans-serif;
	gap: 5px;
	align-items: end;
}

.builtText i{
	color: deeppink;
	font-size: 1.2rem;
	font-weight: 800;
	font-style: normal;
	padding: 0 5px;
}



@media screen and (max-width: 870px){

	.nav_list, #user, #cart{
		display: none;
	}

	#menu{
		display: block;
	}

	.text_over h2{
		font-size: 1.5rem;
		margin: 0;
	}

	.text_over p{
		font-size: 0.9rem;
	}

	.text_over button{
		font-size: 0.8rem;
		padding: 10px;
	}

	.features{
		gap: 0;
		overflow-x: scroll;
	}

	.feat i{
		font-size: 1.2rem;
	}

	.featText{
		gap: 0;
	}

	.featText h2{
		width: 60px;
		font-size: 1rem;
	}

	.featText p{
		width: 60px;
		font-size: 0.6rem;
	}

	.collections{
		grid-template-columns: repeat(2, 1fr);
	}

	.collText{
		gap: 5px;
	}

	.collText h2{
		font-size: 1rem;
	}
	.collText p{
		font-size: 0.7rem;
	}

	.gallery{
		grid-template-columns: repeat(3, 1fr);
	}

	footer{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}


@media screen and (max-width: 1100px) {

  .products ul{
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 930px) {

  .products ul{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 730px) {

  .products ul{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {

  .products ul{
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .title{
    font-size: 1rem;
  }
}


@media screen and (max-width: 400px){

	#logo{
		height: 50%;
	}

	.text_over h2{
		font-size: 1.5rem;
	}

	.text_over p{
		font-size: 0.8rem;
	}

	.features{
		display: block;
		gap: 10px;
		overflow-x: scroll;
		justify-content: start;
		padding: 0;
		margin: 0;
	}

	.feat{
		padding: 0 30px;
	}

	.featText {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.featText p{
		width: 100%;
		height: 100%;
		text-align: end;
	}

	.heading{
		font-size: 1.5rem;
		margin: 25px;
	}

	.collections{
		grid-template-columns: repeat(1, 1fr);
		gap: 20px;
	}

	.collection{
		padding: 0;
	}

	.products ul{
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
	}

	.shippingDetail{
		aspect-ratio: 3/2;
	}

	.shipping{
		object-fit: contain;
	}

	#shipp{
		aspect-ratio: 3/1;
	}

	.gallery{
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.built{
		margin: 0;
		padding: 30px 0;
	}

	.built h1{
		font-size: 3rem;
	}

	.builtText{
		font-size: 0.9rem;
	}

	.builtText i{
		font-size: 1rem;
	}
}